   .navbar{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(220, 215, 215);
            z-index: 999;
        }        
        .navlink a{
            text-decoration: none;
            color:  rgb(0, 0, 0);
            padding: 10px;
        }
        .navlink a:hover{
            color:rgb(13, 255, 1)
        }
        .heading{
            display: flex;
        }
        #quick{
            color: rgb(14, 52, 6);
        }
        .bite{
            color:rgb(28, 131, 27);
        }
        .logo{
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .logo i{
            font-size: 200%;
            color: dark rgb(7, 70, 7);
        }
       .btn{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 20px; 
       }
       #login{
            border:none;
            color: rgb(8, 80, 42);
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            background-color: rgb(255, 255, 255);
            padding: 7px;
       }
         #reg{
                border:none;
                color: rgb(255, 255, 255);
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                background-color: rgb(77, 194, 19);
                padding: 7px;
                border-radius: 5px;
                width: 120px;
         }